.carousel {
  display: flex;
  color: #616161;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  gap: 8px;
}

.button {
  cursor: pointer;
  transition: 300ms;
  cursor: pointer;
}

.content {
  width: 200px;
  height: 120px;
  background-color: #151515;
  border-radius: 8px;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}